name: Build & Deploy (QA)
on:
  push:
    branches:
      - qa

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Image
        run: |
          docker build -t ghcr.io/hamza18599/myapp:${{ github.sha }} .
          docker push ghcr.io/hamza18599/myapp:${{ github.sha }}

      - name: Update Kustomize
        working-directory: k8s/overlays/qa
        run: |
          kustomize edit set image ghcr.io/hamza18599/myapp:${{ github.sha }}
          git config user.name "ci-bot"
          git config user.email "ci-bot@local"
          git add .
          git commit -m "qa: update image" || true
          git push
